ul ul{
	list-style:none !important;
}

footer{
  background:#111;
  border-top:solid 5px white;
  color:white;
  height:300px;
  padding:10px;
}
.nav-bar {
    background: #0091A1;
    height: 50px;
    margin-left: 0;
    margin-top: 20px;
    padding: 0;
}
.top-bar{
  margin-bottom:25px;
  height:60px;
  border-bottom:solid 5px white;
}

.top-bar .name{
  margin:10px;
}
.top-bar .name h1 a{
  width:250px;
}
.top-bar .icon-coffee{
  float:left;
  font-size:35px;
  margin-right:5px;
}

.userProfile{
  width:200px;
}
.userProfile img{
  height:50px;
  margin-right:10px;
}


body {
  background: #2b2b2b;
  color: #5da423;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;

  /*background-image: radial-gradient(center center, circle cover, #545454, #1a160d);
            background-image: -o-radial-gradient(center center, circle cover, #545454, #1a160d);
            background-image: -ms-radial-gradient(center center, circle cover, #545454, #1a160d);
            background-image: -moz-radial-gradient(center center, circle cover, #545454, #1a160d);
            background-image: -webkit-radial-gradient(center center, circle cover, #545454, #1a160d);*/
}

 body,h1,h2,h3,h4,h5,h6{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

label{
	color:white;
}

.rating{
  font-size:150%;
}
.rating a{
  color:white;
}
.underline{
  border-bottom:solid 3px white;
}