<ng-include src="'partials/nav.html'"></ng-include>



<div class="row">
    <div class="large-12 columns">
    	<h2>Create an event</h2>

		<form data-ng-submit="createEvent()" class="custom">
			<label>Description</label>
			<textarea ng-model="description" placeholder="Help me, Obi-Wan Kenobi; you're my only hope."></textarea>

			<label >Location <strong>(Get in touch to be one of our authorised meetup locations!)</strong></label>
			
			<select  ng-model="location" class="medium">
				<option value="Yorks Cafe">Yorks Cafe</option>
				<option value="Urban Coffee">Urban Coffee</option>
				<option value="68 Kafe">68 Kafe</option>
			</select>
			<!-- <input type="text" ng-model="location" placeholder="Somewhere" /> -->

			<label>When</label>
			<input type="text" ng-model="when" placeholder="11am on the 23rd of Oct" />

			<label>Skillz you need help with</label>

			<div class="row">
    	        <div class="large-12 columns">
					<ul>
					<li class="nobullet large-4 columns" data-ng-repeat="(key,skillArray) in profile.skillsMatrix">{{key}}
						<ul>
							<li data-ng-repeat="skill in skillArray">
							<label>{{skill}}</label>
							<div class="switch tiny round">

		                        <input data-ng-model="events.saveValue[skill]" data-ng-if="events.saveValue[skill] == null" id="{{skill}}" name="{{skill}}" type="radio" ng-click="removeSkill(skill)">
		                        <input data-ng-model="events.saveValue[skill]" data-ng-if="events.saveValue[skill] != null" id="{{skill}}" name="{{skill}}" type="radio" checked ng-click="removeSkill(skill)">
		                        

		                        <label for="{{skill}}" onclick="">Off</label>
		                        <input id="{{skill}}1" name="{{skill}}" type="radio" ng-click="addSkill(skill)">
		                        <label for="{{skill}}1" onclick="">On</label>
		                        <span></span>

		                      </div>

							<!--<input class="left" id="{{skill}}" type="checkbox" data-ng-model="events.saveValue[skill]" /><label for={{skill}}>{{skill}}</label>-->

							</li>
						</ul>
					</li>
					</ul>
				</div>
			</div>
			<button>create</button>
		</form>
	</div>
</div>

