<ng-include src="'partials/nav.html'"></ng-include>
<h2>Create an event</h2>


<form data-ng-submit="createEvent()" class="">
	<label>Description</label>
	<textarea ng-model="description" placeholder="Help me, Obi-Wan Kenobi; you're my only hope."></textarea>

	<label>Location</label>
	<input type="text" ng-model="location" placeholder="Somewhere" />

	<label>When</label>
	<input type="text" ng-model="when" placeholder="11am on the 23rd of Oct" />

	<label>Skills you need help with</label>

	<ul>
	<li data-ng-repeat="(key,skillArray) in profile.skillsMatrix">{{key}}
		<ul>
			<li data-ng-repeat="skill in skillArray"><input class="left" id="{{skill}}" type="checkbox" data-ng-model="events.saveValue[skill]" /><label for={{skill}}>{{skill}}</label></li>
		</ul>
	</li>
	</ul>
	<button>create</button>
</form>

