<ng-include src="'partials/nav.html'"></ng-include>
<h2>View your event</h2>

<form>
	<label>Description</label>
	<input type="text" disabled="disabled" data-ng-model="event.description" />

	<label>Location</label>
	<input type="text" disabled="disabled" data-ng-model="event.location" />

	<label>Skills Requested</label>
	<ul>
		<li data-ng-repeat="skill in event.skills">{{skill}}</li>
	</ul>

	<button class="alert" data-ng-if="event.attendee_uid == user.uid" data-ng-click="leave()">i can't make it</button>
	<button data-ng-if="event.attendee_uid != user.uid" data-ng-click="join()">join</button>
</form>
